html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
    border: 1px solid red;
}

.chess-header {
    display: flex;
    padding: 10px 0;
    border: 1px solid black;
    .title {
        flex: 1;
        text-align: center;
    }
    .turn {
        flex: 1;
        text-align: center;
    }
    .time {
        flex: 1;
        text-align: center;
    }
}

.chess-game {
    position: relative;
    max-width: 400px;
    width: 100%;
    #chess-board {
        position: relative;
        // height: 400px;
        .board {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
        }
        .image {
            width: 100%;
        }
        .row {
            display: flex;
            flex: 1;
        }
        .white-space {
            position: relative;
            flex: 1;
            background: #fff;
        }
        .black-space {
            position: relative;
            flex: 1;
            background: #b1b1b1;
        }
        .selected-wht {
            background: #c6eafd;
        }
        .selected-blk {
            background: #78b2d3;
        }
        .moves-wht {
            background: #ceffce;
        }
        .moves-blk {
            background: #92d592;
        }
        .attack-wht {
            background: #facece;
        }
        .attack-blk {
            background: #dd9999;
        }
        .chess-piece {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            
            svg {
                flex: 1;
            }
            
            .king {
                height: 90%;
            }
            
            .queen {
                height: 85%;
            }
            
            .bishop {
                height: 75%;
            }
            
            .horse {
                height: 75%;
            }
            
            .rook {
                height: 75%;
            }
            
            .pawn {
                height: 75%;
            }
        }
    }
    .confirmation {
        display: flex;
        .cancel {
            flex: 1;
        }
        .confirm {
            flex: 1;
        }
    }
}

.chess-footer {
    border: 1px solid red;
}