html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
    border: 1px solid red;
}

.chess-header {
    border: 1px solid red;
}

.chess-game {
    position: relative;
    max-width: 400px;
    width: 100%;
    border: 1px solid red;
}

.chess-footer {
    border: 1px solid red;
}