html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
    border: 1px solid red;
}

.chess-header {
    border: 1px solid red;
}

.chess-game {
    position: relative;
    max-width: 400px;
    width: 100%;
    #chess-board {
        position: relative;
        // height: 400px;
        .board {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
        }
        .image {
            width: 100%;
        }
        .row {
            display: flex;
            flex: 1;
        }
        .white-space {
            flex: 1;
            background: #fff;
        }
        .black-space {
            flex: 1;
            background: #000;
        }
    }
}

.chess-footer {
    border: 1px solid red;
}